h1
{
	font:sans-serif;
	color:#004466;
}
h2
{
	font:sans-serif;
	color:#004466;
	
}
hr
{
	height:15px;
	background-color:yellowgreen;
}
#left-side-pane {
	min-width: 150px;
	width: 20%;
	padding: 10px;
	float: left;
}

#left-side-pane img {
	/* max-width: 150px; */
}

#content{
	width: 80%;
	display: block;
	float: right;
}
code {
	padding: 20px;
}
.row {
	padding: 5px;
	display: block;
}

#suggestion
{
	height:1px;
	background-color:white;
}

#form-title
{
	width: "100%";
	padding: 0%;
	background-color:yellowgreen;
	border: 3px solid yellowgreen;
	color:white;
	
}

#card-details
{
	color:black;
	background-color:#ffbf80;
}

#CardHolderDetails
{
	background-color:yellowgreen;
	border: 3px solid yellowgreen;
	color:black;
}

#contactDetails
{
	color:black;
	background-color:#ffbf80;
	border:3px solid #ffbf80;
}

#payment
{
	color:#004466;
}



#help
{
		position:relative;
}

#worldPayHelp
{
	position:relative;
	}


#MakepaymentImage
{
	
}

#Makepayment
{
	position:relative;
	
}

#worldPayImage
{
	position:relative;
	margin-left:-350px;
}

#link
{
	position:relative;	

}
footer
{
	position:relative;
	bottom : -1100px;
	width:100%;
	color:blue;
	background-color:red;
	font-size:25px;
}


#Flower
{
	position: absolute;
	top : 105px;
	left:30px;
	width : 150px;
	height : 150px;
}

/*#visa
{
	height:100px;
	width:100px;
	margin-top:-200px;
	margin-left:68em;
}

#queryCard
{
	padding-top:-1em;
	margin-left:75.5em;
	width:20px;
	height:20px;
}

#queryAddress
{
	padding-top:12em;
	margin-left:75.5em;
	width:20px;
	height:20px;
}
*/

#error
{
	color:red;
	text-align:left;
	display: none;
}

form {
	width: 100%;
	/* display: inline-block; */
}
.labels {
	width: 30%;
	padding: 10px;
	float: left;
}
.labels label {
	padding: 10px;
	display: block;
}
.input-fields {
	padding: 10px;
}
.input-fields input, .input-fields select {
	padding: 5px;
	margin: 7px;
	display: block;
	border:3px solid lightblue;
}